<div id="<%= dom_id find_table %>">
  <p>
    <strong>First name:</strong>
    <%= find_table.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= find_table.last_name %>
  </p>

  <p>
    <strong>Table number:</strong>
    <%= find_table.table_number %>
  </p>

  <p>
    <strong>Related names:</strong>
    <%= find_table.related_names %>
  </p>

</div>
